*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
    background-color: lightpink;
    min-width: 550px;
}

li{
    list-style-type: none;
    color: gray;
    font-size: 13px;
}

span{
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.sx-bar li:hover{
    color: white
}

.sx-bar span:hover{
    color: white;
}

.flex{
    display: flex;
    align-items: center;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*   MAIN  *-*-*-*-*-*-*-*-*-*-*-*/

main{
    background-color: lightblue;
    width: 100%;
    height: calc( 100% - 100px );
    display: flex;
}

/*----------------------------BARRA SINISTRA-------------- */
.sx-bar{
    background-color: black;
    width: 250px;
    overflow-y: hidden;
    position: relative;
}

.sx-bar ul li span img {
    height: 25px;
    /* opacity: 0.5; */
}

/* ------------------------------logo */
.logo{
    background-color: black;
    height: 80px;
    color: white;
}

.logo img{
   padding: 10px 0 10px 20px;
    max-width: 60%;
}


.y-mobile{
    display: none;
}

/*------------------------------utility */

.utility{
    height: 100px;
}

.utility, .bar-bottom .ul{
    display: flex;
    align-items: center
}

.utility li{
    padding-left: 20px;
}

.utility li:hover{
    border-left: 1px solid greenyellow;
}

a:hover{
    color: white;
    /* opacity: unset; */
}


/*-------------------------------playlists */

.playlists{
    padding-left: 20px;
    height: calc( 100% - 260px );
}

.playlists div{
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.new{
    display: flex;
    align-items: center;
}

.add{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: black;
    font-size: 30px;
    margin-right: 10px;
}
.overflow-ul{
    height: 80%;
    overflow-y: auto;

}

.playlists li{
    line-height: 30px;
}

/*-----------------------------bar-bottom */
.bar-bottom{

    padding-left: 20px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    height: 80px;
}

.dw{
    padding-right: 10px;
    
}

.dw img{
    margin-left: -4px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.circle img{
    width: 70%;
}

.bar-bottom hr{
    width: 205px;
    margin: 8px 0;
}



/* ----------------------------------CONTENTS---------------*/

/*------------------------ nav */

.nav-cont{
    height: 50px;
    width: 60%;
    margin: 0 auto;
}
.nav{
    height: 50px;
    width: 100%;
    /* background-color: yellow; */
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu li{
    color: grey;
    text-align: center;
}


.menu li:hover{
    border-bottom: 1px solid greenyellow;
}


/* ------------------------sections */

.content{
    background-color: #141922;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
}

h2{
    color: white;
    padding-top: 25px;
}

h4{
    color: white;
    padding-top: 10px;
}

h5{
    color: grey;
    padding-top: 10px;
    padding-bottom: 25px;
}

.sezione{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% /6 );
    text-align: center;
}

.play{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}


.album{
    padding: 5px;
    position: relative;
}

.play{
    background-color: transparent;
    color: transparent;
    position: absolute;
    top: 0;    
    left: 0;
    font-size: 70px;
    width: 100%;
    height: 100%;
    transform: color 1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    
}

.album img{
    width: 100%;
    height: auto;
    display: block;
}

.cirle-image{
    border-radius: 50%;
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*   FOOTER *-*-*-*-*-*-*-*-*-*-*-*/
footer{
    background-color: lightgreen;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.foot-cont{
    height: 100%;
    display: flex;
    align-items: center;
}

/* conna sinistra */
.f-sx{
    background-color: lightpink;
    color: white;
    width: 250px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    border: 1px solid white;
    width: 60px;
    height: 60px;
}

.txt{
    padding: 0 5px;
}
.box img{
    width: 100%;
    height: auto;
    display: block;
}

#artist{
    font-weight: bold;
    color: white;
    font-size: 12px;
}

#song{
    font-weight: bold;
    color: grey;
    font-size: 11px;
}
#song:hover{
    text-decoration: underline;
}
.sx-icons {
    /* justify-self: flex-end; */
    color: grey;
}

.sx-icons div:hover{
    color: white;

}




/* colonna centrale */
.f-central{
    background-color: blue;
    width: calc( ( (100% - 250px ) / 4) * 3);
}

.central-icon{
    display: flex;
    justify-content: center;
    font-size: 20px;
    /* color: white; */
    padding-top: 10px;
}

.central-icon span{
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: white;
}

#play-icon {
    font-size: 30px;
}

#play-icon:hover{
    transform: scale(1.2);
}

.timeline{
    text-align: center;
}

.timeline span{
    color: white;
    font-size: 10px;
    font-weight: bold;

}
.bar-box {
    display: inline-block;
    width: 70%;
    height: 5px;
    background-color: grey;
    border-radius: 25px;
    position: relative;
} 

.play-bar:hover{
    background-color: yellowgreen;
}

.play-bar{
    display: inline-block;
    width: 20%;
    height: 5px;
    background-color: lightgray;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;

}

.f-dx{
    background-color: goldenrod;
    width: calc((100% - 250px) / 4);
    padding: 0 10px;

}








/*-*-*-*-*-*-*-*-*-*-*-*-*-*  BANNER  *-*-*-*-*-*-*-*-*-*-*-*/

.banner{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    width: calc( 100% - 250px );
    text-align: right;
}

.btn{
    border: solid 1px white;
    border-radius: 25px;
    padding: 12px 50px;
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 15px;
}

.btn a{
    color: white
}


@media screen and (max-width: 878px){
    
/* content */
.card{
    width: calc(100% / 4);
    text-align: center;
}
}


@media screen and (max-width: 639px){
/* content */
.card{
    width: calc(100% / 2);
    text-align: center;
}
}


@media screen and (max-width: 552px) {

    /* logo */
    .n-mobile{
        display: none;
    }
    .y-mobile{
    display: block;
    }

    .s-logo{
    padding: 10px 0 10px 20px;
    max-width: 20%;
}

/* sx-bar */

.sx-bar{
    width: 70px;

}
.content {
    width: calc(100% - 70px);
}
/* content */
.card{
    width: calc(100% / 2);
    text-align: center;

}

/* banner */

.banner{
    width: calc( 100% - 70px );
}
}